<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table{
            width: 100%;
            border: 2px solid blue;
            border-collapse: collapse;

        }
   
    </style>
</head>
<body>
    <table>
        <div class="container">
            <img id="img" src="./images/eiffel.jpg" />
            <h1>
                <button onclick="minus()">이전</button>
                <button onclick="plus()">다음</button>
            </h1>
            
          </div>
    </table>
    <script>
        function minus() {
            cw=[c1,c2,c3,c4]
            cw.index(c1)+1
            
            
          document.getElementById("img").src = "/static/image/.jpg";
        }
      </script>
    
</body>
</html>
